@{
    ViewData["Title"] = "Home Page";
}
@using ReservationSystem_WebApp.Data
@model User

<h1 class="display-4">Welcome @User.Identity.Name</h1>
<div class="row">
      <a asp-controller="Reservation" asp-action="ReservationList" class="list-group-item list-group-item-action">All resevations</a>
        @switch (Model.AccessType)
        {
            case ApplicationData.AccessType.Admin:
            
                break;
            case ApplicationData.AccessType.Worker:
                break;
            case ApplicationData.AccessType.Client:
                break;
        }
   </div>
</div>
