@{
    ViewData["Title"] = "To do list web app";
}


<div class="text-center">
    <a asp-controller="Task" asp-action="AddEditTask" class="btn btn-primary">Add new task</a>
    <a asp-controller="Task" asp-action="ToDoList" class="btn btn-success">To do list</a>
</div>
