@{
	ViewData["Title"] = "Add / Edit reservation";
	List<ConferenceRoom> conferenceRooms = new List<ConferenceRoom>();
	conferenceRooms.AddRange(ViewBag.ConferenceRooms);
}
@model ReservationSystem_WebApp.ViewModels.ReservationViewModel

<h2 class="text-center">Add / Edit reservation</h2>
<form asp-controller="Reservation" asp-action="AddEditReservationSubmit" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	<input type="hidden" asp-for="Id" value="@(Model.Id > 0 ? Model.Id : 0)"/>

	<div class="form-group mt-4">
		<label asp-for="Title">Title:</label>
		<input type="text" asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="form-group mt-4">
		<label asp-for="BeginDate">Begin Date:</label>
		<input type="datetime-local" asp-for="BeginDate" class="form-control" />
		<span asp-validation-for="BeginDate" class="text-danger"></span>
	</div>
	<div class="form-group mt-4">
		<label asp-for="EndDate">End Date:</label>
		<input type="datetime-local" asp-for="EndDate" class="form-control" />
		<span asp-validation-for="EndDate" class="text-danger"></span>
	</div>
	<div class="form-group mt-4">
		<label asp-for="ConferenceRoomId">Conference Room: </label>
		<select asp-for="ConferenceRoomId" class="form-control" >
			@foreach(var item in conferenceRooms)
			{
				<option value="@item.Id">@item.Id - @item.Name</option>
			}
		</select>
		<span asp-validation-for="ConferenceRoomId" class="text-danger"></span>
	</div>
	<div class="form-group mt-4">
		<label asp-for="Purpose">Purpose:</label>
		<input type="text" asp-for="Purpose" class="form-control" />
		<span asp-validation-for="Purpose" class="text-danger"></span>
	</div>
	<div class="form-group mt-4">
		<label asp-for="Participants">Participants:</label>
		<input type="number" asp-for="Participants" min="1" class="form-control" />
		<span asp-validation-for="Participants" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-success">OK</button>
</form>